langchain
langchain-core
langchain-community
langchain-experimental

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
sentence-transformers
huggingface-hub

python-dotenv
pydantic
pydantic[email]

numpy==1.26.4
pandas
scikit-learn

torch

streamlit
grandalf
pypdf
bs4

chromadb
tiktoken
faiss-cpu
wikipedia

youtube-transcript-api
pytube

ddgs
duckduckgo-search